# scripts local development settings

ENVIRONMENT=dev
PROJECT_ID=kevinesg-dev
RAW_DATASET=raw

# personal_finance local development settings
GOOGLE_APPLICATION_CREDENTIALS=/path/to/scripts-dev-service-account.json
PERSONAL_FINANCE_GSHEET_URL=https://docs.google.com/spreadsheets/d/.../edit
PERSONAL_FINANCE_GCS_BUCKET=kevinesg-dev-data-platform-landing
PERSONAL_FINANCE_GCS_PREFIX=personal_finance
PERSONAL_FINANCE_CHUNK_SIZE=5000
PERSONAL_FINANCE_JSONL_RETENTION_DAYS=7
